<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="ReminderHostServer" value="http://127.0.0.1:9635" />
        <add key="MailConfig" value="{servername:'smtp.263xmail.com',smtpport:25,displayadminaccount:'ABS存续期管理系统',adminaccount:'cnabs-clients@cn-abs.com',adminpassword:'CNabs888'}" />
    </appSettings>
</configuration>