
ChineseAbs\.ABSManagement/bin/

ChineseAbs\.ABSManagement/obj/

ChineseAbs\.ABSManagement\.DeploymentTool/packages/

ChineseAbs\.ABSManagement\.DeploymentTool/ABSMgrDeployment/bin/

ChineseAbs\.ABSManagement\.DeploymentTool/ABSMgrDeployment/obj/

*.suo

ChineseAbs\.ABSManagement\.Foundation/bin/

ChineseAbs\.ABSManagement\.Foundation/obj/

ChineseAbs\.ABSManagement\.Foundation/packages/

ChineseAbs\.ABSManagement\.ReleaseTool/ReleaseTool/bin/Debug/

ChineseAbs\.ABSManagement\.ReleaseTool/ReleaseTool/obj/

ChineseAbs\.ABSManagement\.ReleaseTool/packages/

ChineseAbs\.ABSManagement\.Reminder/packages/

ChineseAbs\.ABSManagement\.Reminder/ChineseAbs\.ABSManagement\.ReminderHost/bin/

ChineseAbs\.ABSManagement\.Reminder/ChineseAbs\.ABSManagement\.ReminderHost/obj/

ChineseAbs\.ABSManagement\.Reminder/ChineseAbs\.ABSManagement\.Reminder/bin/

ChineseAbs\.ABSManagement\.Reminder/ChineseAbs\.ABSManagement\.Reminder/obj/

packages/

ChineseAbs\.ABSManagementSite/bin/

ChineseAbs\.ABSManagementSite/obj/

ChineseAbs\.ABSManagementSite/Properties/PublishProfiles/ABSManager\.pubxml\.user

ChineseAbs\.ABSManagementSite/ChineseAbs\.ABSManagementSite\.csproj\.user

ChineseAbs\.ABSManagementSite/FrameworkLog\.txt

ChineseAbs\.ABSManagementSite/framework-rolling-log\.txt

CNABS\.Mgr\.ReleaseTool/ReleaseTool/bin/

CNABS\.Mgr\.ReleaseTool/ReleaseTool/obj/
/.vs/Site-ABSManage/v15/Server/sqlite3

ChineseAbs\.ABSManagement/ChineseAbs\.ABSManagement\.csproj\.user

CNABS\.Mgr\.Deal/bin/

CNABS\.Mgr\.Deal/obj/

CNABS\.Mgr\.ReleaseTool/\.vs/

CNABS\.DataStudio/CNABS\.DataStudio/CNABS\.DataStudio\.csproj\.user

CNABS\.DataStudio/CNABS\.DataStudio/obj/

CNABS\.DataStudio/CNABS\.DataStudio/bin/

\.vs/

CNABS\.DataStudio/CNABS\.DataStudio\.DealSyncer/bin/

CNABS\.DataStudio/CNABS\.DataStudio\.DealSyncer/obj/

CNABS\.DataStudio/CNABS\.DataStudio\.DealSyncer\.Test/bin/

CNABS\.DataStudio/CNABS\.DataStudio\.DealSyncer\.Test/obj/

CNABS\.DataStudio/CNABS\.DataStudio\.Foundation/bin/

CNABS\.DataStudio/CNABS\.DataStudio\.Foundation/obj/

CNABS\.DataStudio/CNABS\.DataStudio\.DealSyncer/CNABS\.DataStudio\.DealSyncer\.csproj\.user

CNABS\.DataStudio/CNABS\.DataStudio\.Start/bin/

CNABS\.DataStudio/CNABS\.DataStudio\.Start/obj/

CNABS\.DataStudio/CNABS\.DataStudio/CNABS\.DataStudio\.DealSyncer\.log

SystemEx\.Mvc/obj/

SystemEx\.Mvc/bin/

SystemEx/obj/

SystemEx/bin/

CNABS\.DataStudio/CNABS\.DataStudio/Properties/PublishProfiles/FolderProfile\.pubxml\.user

SystemEx\.Runtime/bin/

SystemEx\.Runtime/obj/Debug/

SystemEx\.Runtime/obj/

SystemEx\.Test/bin/

SystemEx\.Test/obj/

CNABS\.DataStudio/CNABS\.DataStudio\.Repository/bin/

CNABS\.DataStudio/CNABS\.DataStudio\.Repository/obj/

SystemEx\.Test\.StartUp/bin/

SystemEx\.Test\.StartUp/obj/

CNABS\.DataStudio/CNABS\.DataStudio/Properties/PublishProfiles/Default Settings\.pubxml\.user

SystemEx\.Network/bin/

SystemEx\.Network/obj/

CNABS\.DataStudio/CNABS\.DataStudio\.Core\.Test/bin/

CNABS\.DataStudio/CNABS\.DataStudio\.Core\.Test/obj/

CNABS\.DataStudio/CNABS\.DataStudio\.Core/bin/

CNABS\.DataStudio/CNABS\.DataStudio\.Core/obj/

CNABS\.DataStudio/CNABS\.DataStudio/Properties/PublishProfiles/Publish2Folder\.pubxml\.user

*.log
/ABS.AssetManagement/bin
/ABS.AssetManagement/obj
/ABS.Core/bin
/ABS.Core/obj
/ABS.Infrastructure/bin/Debug
/ABS.Infrastructure/obj/Debug
