<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="smsSection" type="ChineseAbs.ABSManagement.Foundation.ConfigHandler,ChineseAbs.ABSManagement.Foundation" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="OnConfigManagerType" value="default" />
    <add key="OnEnabledMsgQueue" value="mq" />
    <add key="MailConfig" value="{servername:'smtp.263xmail.com',smtpport:25,displayadminaccount:'ABS存续期管理系统',adminaccount:'cnabs-clients@cn-abs.com',adminpassword:'CNabs888'}" />
    <!--<add key="SmsConfig" value="{accountID='aaf98f8951af2ba80151ccee79ce0054' authToken='40162899af5c4e19b9ad648c4d1be8aa' appID='aaf98f8951af2ba80151ccf2d9470080' server='https://app.cloopen.com:8883' pathFormat='/2013-12-26/Accounts/{0}/SMS/TemplateSMS?sig={1}'}"/>-->

    <!--定义提醒时间，单位分，例如：10表示时间间隔10分钟内提醒-->
    <add key="RemindTimeSpan" value="10" />

    <!--定义两次触发提醒的时间间隔，单位秒，例如：10表示每10秒触发一次提醒轮询-->
    <add key="RemindQueryInterval" value="10" />

    <add key="WebSiteABSManagerPrefix" value="http://10.1.1.55/" />

    <add key="RemoteSendServer" value="http://127.0.0.1:9635" />
  </appSettings>
  <connectionStrings>
    <add name="ABSMgrConn" connectionString="server=10.1.1.26\sh_dev_sql;Database=ABSManagement;User ID=appuser;Password=sail4ppd3v;Trusted_Connection=False" providerName="System.Data.SqlClient" />
    <add name="Conn" connectionString="server=10.1.1.26\sh_dev_sql;Database=ChineseAbs;User ID=appuser;Password=sail4ppd3v;Trusted_Connection=False" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <smsSection accountID="aaf98f8951af2ba80151ccee79ce0054" authToken="40162899af5c4e19b9ad648c4d1be8aa" appID="aaf98f8951af2ba80151ccf2d9470080" server="https://app.cloopen.com:8883" pathFormat="/2013-12-26/Accounts/{0}/SMS/TemplateSMS?sig={1}">
    <templates>
      <add name="ReminderCode" value="111724"></add>
      <add name="OverDueCode" value="113528"></add>
      <add name="DefaultRiskCode" value="113965"></add>
      <add name="DueDateAndRemindCode" value="114856"></add>
    </templates>
  </smsSection>


</configuration>