<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ABSMgrConn" connectionString="server=10.1.1.26\sh_dev_sql;Database=ABSManagement;User ID=appuser;Password=sail4ppd3v;Trusted_Connection=False" providerName="System.Data.SqlClient" />
    <add name="Conn" connectionString="server=10.1.1.26\sh_dev_sql;Database=ChineseAbs;User ID=appuser;Password=sail4ppd3v;Trusted_Connection=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="PatternFileFolder" value="\\10.1.1.26\Shared\cgzhou\FilePattern\" />
    <add key="NancyServer" value="http://10.1.1.35:7778" />
    <add key="Root_Folder" value="\\10.1.1.26\Public\Projects\Chinese ABS\Deal Modeling\ABSManagement\" />
    <add key="RepositoryFilePath" value="\\10.1.1.26\Public\Projects\Chinese ABS\Deal Modeling\ABSManagement\Repository\File" />
    <add key="RepositoryImagePath" value="\\10.1.1.26\Public\Projects\Chinese ABS\Deal Modeling\ABSManagement\Repository\Image" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.2.0" newVersion="2.7.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>

  </runtime>
</configuration>
