@import "../../styles/theme/default.less";

.abs-avatar {
  .ant-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    &-lg {
      width: 60px;
      height: 60px;
    }
    &-sm {
      width: 20px;
      height: 20px;
    }
  }
  &-icon {
    &-large {
      .anticon {
        line-height: 60px;
      }
    }
    &-default {
      .anticon {
        line-height: 40px;
      }
    }
    &-small {
      .anticon {
        line-height: 20px;
      }
    }
  }
}