@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>错误</title>
</head>
<body>
    <div style="text-align:center;margin-top:200px;">
        <h1 class="error">错误</h1>
        <h2 class="error">在处理您的请求时产生了一个错误。</h2>
        <h3 class="error">该问题已经发送给我们的技术人员，我们将以最快的速度来修复。</h3>
        <h3 class="error">如果您有任何疑问，请联系021-31156258。</h3>
        <br />
        <div>
            <h4>正在为您跳转至首页...</h4>
            <h4>如未自动跳转，您可点击<a href="/">这里</a></h4>
        </div>
    </div>
    <script>
        window.setTimeout("window.location.href = '/'", 3000)
    </script>
</body>
</html>