@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>访问受限</title>
</head>
<body>
    <div style="text-align:center;margin-top:200px;">
        <h2>未授权的访问</h2>
    </div>
    <script>
        //window.setTimeout("window.location.href = 'http://www.cn-abs.com'", 3000)
    </script>
</body>
</html>
