@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>未找到页面</title>
</head>
<body>
    <div style="text-align:center;margin-top:200px;">
        <h2>很抱歉，未找到您请求的内容。正在为您跳转至首页...</h2>
        <h4>如未自动跳转，您可点击<a href="/">这里</a></h4>
    </div>
    <script>
        window.setTimeout("window.location.href = '/'", 3000)
    </script>
</body>
</html>